.bg-one {
    background-image: url("https://github.com/Yngauxide/ray-prof-work/blob/master/pics/andrea-de-santis-90GttSM8gyI-unsplash.jpg?raw=true");
}

/* nav p {
    font-size: calc(0.25em + 0.7vw);
} */

.bg-two {
    background-image: url('https://github.com/Yngauxide/ray-prof-work/blob/master/pics/volume-abstract-graphic-loneliness-desk.jpg?raw=true');
}